@import url("https://fonts.googleapis.com/css2?family=Palette+Mosaic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");

.text-center {
  text-align: center;
}

.card {
  background: white;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 60%;
  margin: auto;
  padding: 40px;
}

.subCard {
  height: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.7s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  padding: 20px;
  border-radius: 6px;
}

.subCard--active {
  background-color: #0a3d62;
  color: white;
}

.subCard:hover {
  transform: scale(1.03);
}

.AppTitle {
  color: white;
  font-size: 64px;
  font-family: "Palette Mosaic", cursive;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.top20 {
  margin-top: 20px;
}

.fullWidth {
  width: 80%;
  height: 20px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid grey;
  font-size: 16px;
  font-family: "Gloria Hallelujah", cursive;
}

.submitBtn {
  height: 44px;
  margin-left: -4px;
  width: 15%;
  cursor: pointer;
  color: white;
  font-size: 16px;
  background: #0a3d62;
  border-radius: 4px;
  border: 1px solid grey;
  transition: 0.5s;
  font-family: "Gloria Hallelujah", cursive;
}

.submitBtn:hover {
  transform: scale(1.03);
}

.left-align {
  text-align: left;
}

.bottom20 {
  margin-bottom: 20px;
}

.filter {
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
}
